* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow: auto;
    height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100vh;
}

.header {
    width: 100%;
    height: 80px;
    background: #28293d;
    display: flex;
}

.hamburger {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
}

.spans {
    margin: auto;
}

.spans span:not(:last-child) {
    margin-bottom: 5px;
}

.spans span {
    display: block;
    border-radius: 5px;
    width: 20px;
    height: 2px;
    background: #feffff;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    transform-origin: left center;
}

.spans.open span:nth-child(1) {
    transform: rotate(45deg);
}

.spans.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.spans.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #6fd489;
    font-size: 30px;
    font-weight: bold;
    margin-left: 25px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.main {
    display: flex;
    width: 100%;
    min-height: calc(100% - 80px);
}

.side_menu {
    width: 0;
    min-height: 100%;
    background: #a1a7b2;
    transition: 0.25s;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    visibility: hidden;
}

.side_menu.show {
    width: 300px;
    visibility: visible;
}

.manage_bot.show, .manage_db.show {
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.show_teams.show {
    width: 100%;
    height: 60px;
    opacity: 1;
    visibility: visible;
}

.show_teams {
    width: 0;
    height: 60px;
    opacity: 0;
    text-align: start;
    margin-top: 50px;
    padding-left: 25px;
    color: #28293d;
    transition: 0.15s;
    visibility: hidden;
}

.manage_bot, .manage_db {
    width: 0;
    height: 60px;
    opacity: 0;
    text-align: start;
    padding-left: 25px;
    color: #28293d;
    transition: 0.15s;
}
.show_teams:hover,
.manage_bot:hover, .manage_db:hover {
    background: #28293d;
    color: #feffff;
}

.nav_div {
    display: flex;
    flex-direction: row;
    margin: 36px 0 0 44px;
}

.buttons_div {
    display: flex;
    flex-direction: column;
}

.on_off_button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 38px;
}

.on_off_review_button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.on_off_title,
.on_off_review_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 37px;
    align-self: start;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #28293D;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #6FD489;
}

input:focus+.slider {
    box-shadow: 0 0 1px #6FD489;
}

input:checked+.slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.status_div {
    display: flex;
    flex-direction: column;
    margin-left: 265px;
}

.get_bot_status {
    padding: 18px 31px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FEFFFF;
    background: #28293D;
    max-width: 286px;
}

.get_bot_status:active,
.get_bot_status:focus {
    background: #A1A7B2;
}

.result_title {
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #28293D;
}

.status_div {
    max-width: 750px;
}