* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow: auto;
    height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100vh;
}

.header {
    width: 100%;
    height: 80px;
    background: #28293d;
    display: flex;
}

.hamburger {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
}

.spans {
    margin: auto;
}

.spans span:not(:last-child) {
    margin-bottom: 5px;
}

.spans span {
    display: block;
    border-radius: 5px;
    width: 20px;
    height: 2px;
    background: #feffff;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    transform-origin: left center;
}

.spans.open span:nth-child(1) {
    transform: rotate(45deg);
}

.spans.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.spans.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #6fd489;
    font-size: 30px;
    font-weight: bold;
    margin-left: 25px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.main {
    display: flex;
    width: 100%;
    min-height: calc(100% - 80px);
}

.side_menu {
    width: 0;
    min-height: 100%;
    background: #a1a7b2;
    transition: 0.25s;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    visibility: hidden;
}

.side_menu.show {
    width: 300px;
    visibility: visible;
}

.manage_bot.show, .manage_db.show {
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.show_teams.show, .show_final_report.show {
    width: 100%;
    height: 60px;
    opacity: 1;
    visibility: visible;
}

.show_teams {
    width: 0;
    height: 60px;
    opacity: 0;
    text-align: start;
    margin-top: 50px;
    padding-left: 25px;
    color: #28293d;
    transition: 0.15s;
    visibility: hidden;
}

.show_final_report {
    height: 60px;
    opacity: 0;
    text-align: start;
    padding-left: 25px;
    color: #28293d;
    transition: 0.15s;
    visibility: hidden;
}

.manage_bot, .manage_db {
    width: 0;
    height: 60px;
    opacity: 0;
    text-align: start;
    padding-left: 25px;
    color: #28293d;
    transition: 0.15s;
}

.show_teams:hover, .manage_bot:hover, .manage_db:hover, .show_final_report:hover {
    background: #28293d;
    color: #feffff;
}

.info_window {
    width: 100%;
    min-height: 100%;
    transition: 0.25s;
    font-family: 'Montserrat', sans-serif;
    margin-right: 80px;
}

.nav_div {
    display: flex;
    flex-direction: row;
    margin: 50px 0 0 100px;
}

.person_info_div {
    display: flex;
    flex-direction: column;
}

.name_and_fname_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    color:#000000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
}

.user_id_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.user_id {
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    color:#000000;
    font-size: 22px;
    margin-bottom: 8px;
}

.id {
    font-family: 'Montserrat', sans-serif;
    color:#000000;
    font-size: 22px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.group_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.group {
    font-family: 'Montserrat', sans-serif;
    color:#000000;
    font-size: 22px;
    margin-bottom: 8px;
}

.groupname {
    font-family: 'Montserrat', sans-serif;
    color:#000000;
    font-size: 22px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.team_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.team {
    font-family: 'Montserrat', sans-serif;
    color:#000000;
    font-size: 22px;
    margin-bottom: 8px;
}

.teamname {
    font-family: 'Montserrat', sans-serif;
    color:#000000;
    font-size: 22px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.role_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.role {
    font-family: 'Montserrat', sans-serif;
    color:#000000;
    font-size: 22px;
    margin-bottom: 8px;
}

.rolename {
    font-family: 'Montserrat', sans-serif;
    color:#000000;
    font-size: 22px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.marksandreports_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 100px;
}

.marks {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.table, .sprints_table {
	width: 100%;
	border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 8px;
}

.table thead th, .sprints_table thead th {
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.table tbody th, .sprints_table tbody th {
	padding: 10px 15px;
}

.table tbody td, .sprints_table tbody td {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
    word-wrap: break-word;
}

.table thead tr th:first-child,
.table tbody tr td:first-child,
.sprints_table thead tr th:first-child,
.sprints_table tbody tr td:first-child {
	border-left: none;
}

.table thead tr th:last-child, 
.table tbody tr td:last-child,
.sprints_table thead tr th:last-child,
.sprints_table tbody tr td:last-child {
	border-right: none;
}

.table tbody tr:nth-child(even),
.sprints_table tbody tr:nth-child(even) {
	background: #f3f3f3;
}

.reports {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.get_reports {
    display: flex;
    padding: 18px 31px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background: #A5A5A5;
    max-width: 286px;
    height: auto;
}